    @font-face {
    font-family: 'Estedad';
    src: url('../fonts/ttf/Estedad-ExtraLight.ttf') format('truetype'), 
    url('../fonts/woff2/Estedad-ExtraLight.woff2'), format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Estedad';
    src: url('../fonts/ttf/Estedad-Regular.ttf') format('truetype'), 
    url('../fonts/woff2/Estedad-Regular.woff2'), format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Estedad';
    src: url('../fonts/ttf/Estedad-Bold.ttf') format('truetype'), 
    url('../fonts/woff2/Estedad-Bold.woff2'), format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Estedad';
    src: url('../fonts/ttf/Estedad-ExtraBold.ttf') format('truetype'), 
    url('../fonts/woff2/Estedad-ExtraBold.woff2'), format('woff2');
    font-weight: 800;
}

:root {
    --primary-font: 'Estedad', sans-serif;
}